.blank-cell{
    background-image: url('../../imgs/tile.svg');
    border: 1px solid gray;
    height: 100%;
    width: 100%;
    background-size: cover;
    justify-items: center;
    align-items: center;
}

.clicked-cell{
    background-color: #CCC;
    border: 1px solid #999;
}

.sel-cell{
    background-image: url('../../imgs/tile-sel.svg');
}

.cell img{
    width: 100%;
    height: 100%;
}

.num_1{
    color: blue;
}
.num_2{
    color: green;
}
.num_3{
    color: red;
}
.num_4{
    color: purple;
}
.num_5{
    color: maroon;
}
.num_6{
    color: teal;
}
.num_7{
    color: black;
}
.num_8{
    color: gray;;
}
.num_1{
    color: blue;
}
.cell h1{
    font-size: 35px;
}