.cell{
    background-image: url('../../imgs/tile.svg');
    border: 1px solid gray;
    height: 100%;
    width: 100%;
    background-size: cover;
    justify-items: center;
    align-items: center;
}

.sel-cell{
    background-image: url('../../imgs/tile-sel.svg');
}

.cell img{
    width: 100%;
    height: 100%;
}